# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt
.vscode

# Nuxt generate
dist

# Backpack build
build

# Database mongo
database.json
backup.database.json
config.json
categories.json
