input,
textarea {
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

.bg-header,
.bg-footer {
  background: #1d8635;
}