$color-text-purple: #717fe0;
$color-text-black: #222222;
.card {
  a {
    color: $color-text-black;
    &:hover {
      color: $color-text-purple;
    }
  }
}

.purple-hover {
  color: $color-text-black;
  &:hover {
    color: $color-text-purple;
  }
}
.form-input-wrapper {
  textarea {
    height: 100px;
    outline: none;
    resize: none;
    border: 1px solid #e6e6ee;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
  }
}

.category-link {
  font-family: sans-serif;
  border-bottom: 1px solid #e6e6e6;
}